.bigbox {
  background-color: #f4f4f4;
}
.bigbox .warpper {
  width: 360px;
  height: 800px;
  margin: 0 auto;
}
.bigbox .warpper .top .topfirst {
  margin-top: 12px;
}
.bigbox .warpper .top .topfirst .button {
  padding: 12px;
  border-radius: 16px;
  border: 1.8px solid #0086f6;
}
.bigbox .warpper .top .topfirst .button i {
  color: #666;
  font-size: 20px;
  margin-left: 12px;
}
.bigbox .warpper .top .topfirst .button span {
  margin-left: 6px;
  font-size: 15px;
  line-height: 21px;
  color: #999;
}
.bigbox .warpper .top .topbottom {
  display: flex;
  justify-content: center;
  height: 180px;
  padding: 12px;
  background-color: white;
}
.bigbox .warpper .top .topbottom div {
  width: 70px;
  height: 58px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 1px;
}
.bigbox .warpper .top .topbottom div .box1 p {
  color: white;
}
.bigbox .warpper .top .topbottom div div {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 5px 0;
}
.bigbox .warpper .top .topbottom div div img {
  width: 28px;
  height: 28px;
  margin-bottom: 3px;
}
.bigbox .warpper .top .topbottom div div p {
  font-size: 12px;
}
.bigbox .warpper .top .topbottom .card1 .box1 {
  background-color: #fb7353;
}
.bigbox .warpper .top .topbottom .card1 .box2 {
  background-color: #fff5f1;
}
.bigbox .warpper .top .topbottom .card1 .box3 {
  background-color: #fff5f1;
}
.bigbox .warpper .top .topbottom .card2 .box1 {
  background-color: #479dfa;
}
.bigbox .warpper .top .topbottom .card2 .box2 {
  background-color: #eff9ff;
}
.bigbox .warpper .top .topbottom .card2 .box3 {
  background-color: #eff9ff;
}
.bigbox .warpper .top .topbottom .card3 .box1 {
  background-color: #6396ff;
}
.bigbox .warpper .top .topbottom .card3 .box2 {
  background-color: #f2f5ff;
}
.bigbox .warpper .top .topbottom .card3 .box3 {
  background-color: #f2f5ff;
}
.bigbox .warpper .top .topbottom .card4 .box1 {
  background-color: #3cccb5;
}
.bigbox .warpper .top .topbottom .card4 .box2 {
  background-color: #ecfcf8;
}
.bigbox .warpper .top .topbottom .card4 .box3 {
  background-color: #ecfcf8;
}
.bigbox .warpper .top .topbottom .card5 .box1 {
  background-color: #ff963e;
}
.bigbox .warpper .top .topbottom .card5 .box2 {
  background-color: #fff9f2;
}
.bigbox .warpper .top .topbottom .card5 .box3 {
  background-color: #fff9f2;
}
.bigbox .warpper .ctrip1 {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.bigbox .warpper .ctrip1 .card1 {
  background-color: #fff;
  border-radius: 5px;
}
.bigbox .warpper .ctrip1 .card1 .top {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.bigbox .warpper .ctrip1 .card1 .top img {
  width: 72px;
  height: 20px;
  border-radius: 50px;
}
.bigbox .warpper .ctrip1 .card1 .top p {
  font-size: 8px;
}
.bigbox .warpper .ctrip1 .card1 .tupian {
  flex-direction: column;
}
.bigbox .warpper .ctrip1 .card1 .tupian .first {
  width: 180px;
  height: 85px;
  overflow: hidden;
  position: relative;
}
.bigbox .warpper .ctrip1 .card1 .tupian .first .tag {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  height: 14px;
  line-height: 14px;
  padding: 0 3px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 6px 0 6px 0;
  font-size: 10px;
  color: #fff;
}
.bigbox .warpper .ctrip1 .card1 .tupian .first h3 {
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  border-radius: 0 6px 0 6px;
  font-size: 5px;
  line-height: 12px;
  font-weight: 700;
  color: #fff;
  z-index: 9;
}
.bigbox .warpper .ctrip1 .card1 .tupian .price {
  display: flex;
  float: left;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #f60;
  padding-right: 2px;
}
.bigbox .warpper .ctrip1 .card1 .tupian .price .sy {
  font-style: normal;
  font-size: 11px;
  color: #f60;
  line-height: 1.1;
}
.bigbox .warpper .ctrip1 .card2 {
  background-color: #fff;
  border-radius: 3px;
  width: 180px;
}
.bigbox .warpper .ctrip1 .card2 .top {
  display: flex;
  justify-content: space-around;
}
.bigbox .warpper .ctrip1 .card2 .top img {
  width: 55px;
  height: 20px;
}
.bigbox .warpper .ctrip1 .card2 .top p {
  height: 16px;
  border-radius: 2px;
  background: #fdefd2;
  font-size: 10px;
  color: #ae6e15;
  line-height: 16px;
  padding: 1px 4px;
  white-space: nowrap;
}
.bigbox .warpper .ctrip1 .tupian {
  display: flex;
  justify-content: space-around;
}
.bigbox .warpper .ctrip1 .tupian .shanhai1 {
  width: 75px;
  height: 84px;
  position: relative;
}
.bigbox .warpper .ctrip1 .tupian .shanhai1 h3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  line-height: 14px;
  padding: 0 3px;
  background-image: linear-gradient(270deg, #f8e1bd, #e2c089);
  border-radius: 6px 0 6px 0;
  font-size: 10px;
  color: #663c00;
  justify-content: space-around;
}
.bigbox .warpper .ctrip1 .tupian p {
  font-size: 5px;
}
.bigbox .warpper .ctrip1 .tupian .shanhai2 {
  width: 75px;
  height: 84px;
  position: relative;
}
.bigbox .warpper .ctrip1 .tupian .shanhai2 h3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  line-height: 14px;
  padding: 0 3px;
  background-image: linear-gradient(270deg, #f8e1bd, #e2c089);
  border-radius: 6px 0 6px 0;
  font-size: 10px;
  justify-content: space-around;
  color: #663c00;
}
.bigbox .warpper .bac {
  margin-top: 20px;
}
.bigbox .warpper .bac img {
  background-size: cover;
  border-radius: 10px;
}
.bigbox .warpper .bottom1 {
  margin-top: 10px;
}
.bigbox .warpper .bottom1 .card {
  display: flex;
  justify-content: space-around;
}
.bigbox .warpper .bottom1 .card div {
  font-size: 10px;
  color: #333333;
}
.bigbox .warpper .bottom1 .card .phone {
  border: 1px solid #999;
  padding: 2px 5px;
  border-radius: 3px;
}
.bigbox .warpper .bottom1 .card .xiazai {
  border: 1px solid #999;
  padding: 2px 5px;
  border-radius: 3px;
}
.bigbox .warpper .bottom1 .card1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  color: #666;
  font-size: 4px;
}
.bigbox .warpper .bottom1 .card2 {
  display: flex;
  justify-content: space-evenly;
  color: #666;
  font-size: 4px;
  margin-top: 10px;
}
.bigbox .warpper .bottom2 {
  display: flex;
  justify-content: space-around;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  position: fixed;
  width: 360px;
  bottom: 0;
}
.bigbox .warpper .bottom2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigbox .warpper .bottom2 div p {
  font-size: 12px;
}
/*# sourceMappingURL=./排版.css.map */